AuthType Basic
AuthName "KennyFont"
AuthUserFile /home/kennysoft/html/KennyFont/.htpasswd
AuthGroupFile /home/kennysoft/html/KennyFont/.htgroup
Order Deny,Allow
Deny from all
Deny from env=!HTTPS
Require group kennyfont
Satisfy Any

Options Indexes FollowSymLinks All
IndexOptions FancyIndexing HTMLTable IconsAreLinks IconHeight IconWidth SuppressDescription
IndexIgnore ..